html {
  height: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav_links {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  align-items: center;
}

.link{
padding:20px;
text-decoration: none;
color: #DC6A69;
height:20px;
display:flex;
align-items: center;
border-radius: 20px;
}

#header_logo {
  height: 150px;
  display: flex;
  margin-left: 10px;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header-button{
  color:white;
  border-radius: 10px;
  height: 40px;
  margin: 20px;
}

@media (hover:hover) {
  .link:hover{
    color: rgb(255, 255, 255);
    background-color: #5CA49C;
    border-radius: 20px;
  }
}

.profile-section{
  margin-top: 30px;
  padding: 20px;
}

#profile_welcome{
  font-style: oblique;
}

#create-account{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#create-account > input {
  margin-bottom: 20px;
  height: 30px;
  font-size: larger;
}

#flavor_body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#products-container{
  padding-top: 2vh;
  justify-content: center;
  background-color: #f3f3f3;
 
}

.flavor_info{
  padding: 20px;
  border-radius: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: rgb(234, 241, 246);
  flex-wrap: wrap;
  margin: 3vh;
  height: 78vh;
  width: 35vh;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.flavor_name{
  display: flex;
  flex-direction: column;
}
.flavor_type{
  color:#5CA49C;
}
.flavor_description{
  display:flex;
  height:150px;
  flex-wrap: wrap;
  font-style: oblique;
  overflow-y: auto;
}
.flavor_image{
  height: 40vh;
  border-radius: 20px;
}

#reviews_container{
  display:flex;

  flex-direction: row;
  border-radius: 20px;
  background-color: #DC6A69;
}

.item_image{
  height: 30vh;
  border-radius: 20px;
}

.users-info{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: larger;
  
}

.single-user-info{
  margin: 15px;
  padding: 20px;
  background-color: #f3e094;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#account-info{
  background-color: #ffdddd;
}