.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    z-index: 10;
}

.shoppingCart {
    width: 60%;
    height: 90%;
    margin: 2rem auto;
    background-color: #eee;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.shoppingCart .header {
    display: flex;
    background-color: #DC6A69;
    padding: 10px 20px;
    justify-content: space-between;
}
.btn-close {
    color: var(--main-color);
}
.empty-text {
    display: block;
    padding: 2rem;
    margin: auto;
}
.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    background-color: #fff;
    padding: 10px 20px;
    border: 3px solid rgb(228, 228, 228);
}

.cart-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    overflow-y: auto;
}
.flavor-info {
    flex-basis: 50%;
}

.flavor-info h3 {
    font-weight: 400;
    font-size: 1rem;
}

.cart-item select {
    width: 70px;
    font-size: 1rem;
    outline: none;
}

.cart-item img {
    width: 100px;
    background-color: #fff;
}

.checkout-btn {
    background-color: #fbf97e;
    padding: 10px 20px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    align-self: center;
    margin: 2rem 0;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid black;
}